<%= turbo_frame_tag assignment do %>
  <tr data-controller="checkbox">
    <td class="text-xs text-pretty">
      <%= assignment.business_name %>
    </td>

    <td class="hidden-until-md">
      <%= assignment.area %>
    </td>

    <td class="text-xs">
      <%= assignment.user.full_name %>
    </td>

    <%= form_with(model: assignment, class: "contents") do |f| %>
      <td class="flex flex-row px-4 text-center justify-evenly">
        <div class="mx-1">
          #1
          <%= check_box_tag "assignment[wave_one]", "1", assignment.wave_one, id: "wave_one_#{assignment.id}", class: "wave-checkbox", data: { assignment_id: assignment.id, wave: "wave_one", action: "change->checkbox#toggle" } %>
        </div>

        <div class="mx-1">
          #2
          <%= check_box_tag "assignment[wave_two]", "1", assignment.wave_two, id: "wave_two_#{assignment.id}", class: "wave-checkbox", data: { assignment_id: assignment.id, wave: "wave_two", action: "change->checkbox#toggle" } %>
        </div>

        <div class="mx-1">
          #3
          <%= check_box_tag "assignment[wave_three]", "1", assignment.wave_three, id: "wave_three_#{assignment.id}", class: "wave-checkbox", data: { assignment_id: assignment.id, wave: "wave_three", action: "change->checkbox#toggle" } %>
        </div>

        <div class="mx-1">
          Other
          <%= check_box_tag "assignment[other]", "1", assignment.other, id: "other_#{assignment.id}", class: "wave-checkbox", data: { assignment_id: assignment.id, wave: "other", action: "change->checkbox#toggle" } %>
        </div>
      </td>

    <% end %>

    <td class="overflow-hidden text-xs">
      <%= assignment.notes %>
    </td>

    <td class="hidden-until-md">
      <%= link_to "Edit", edit_assignment_path(assignment), class: "btn-update", data: { turbo: false } %>
    </td>
  </tr>
<% end %>
