<section class="form">
  <%= form_with(model: @assignment, local: true) do |form| %>
    <% if @assignment.errors.any? %>
      <div class="form-errors">
        <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
        <ul>
          <% @assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1 class="flex-col items-center justify-center -mb-4 text-2xl font-bold text-center text-black  md:text-4xl underline">
      <%= action_name == "new" ? "Create an Assignment" : "Edit Assignment" %>
    </h1>

    <div class="form-container">
      <div>
        <%= form.label :user_id, "Team Member" %>
        <%= form.select :user_id, @users.collect { |user| [user.full_name, user.id] }, prompt: "Select a Team Member" %>
      </div>

      <div>
        <%= form.label :area, "Area of Town" %>
        <%= form.select :area, Constants::AREAS, prompt: "Select an Area" %>
      </div>

      <div>
        <%= form.label :business_name, "Location" %>
        <%= form.select :business_name, Constants::BUSINESS_NAMES, prompt: "Select a Location" %>
      </div>

      <div class="flex flex-row items-center justify-between">
        <div class="form-checkbox-container">
          <%= form.label :wave_one, "Wave #1" %>
          <%= form.check_box :wave_one, class: "form-checkbox" %>
        </div>

        <div class="form-checkbox-container">
          <%= form.label :wave_two, "Wave #2" %>
          <%= form.check_box :wave_two, class: "form-checkbox" %>
        </div>

        <div class="form-checkbox-container">
          <%= form.label :wave_three, "Wave #3" %>
          <%= form.check_box :wave_three, class: "form-checkbox" %>
        </div>

        <div class="form-checkbox-container">
          <%= form.label :other, "Other" %>
          <%= form.check_box :other, class: "form-checkbox" %>
        </div>
      </div>

      <div class="col-span-2">
        <%= form.label :notes %>
        <%= form.text_field :notes, placeholder:"Optional details..." %>
      </div>

      <div class="flex justify-end mt-4 space-x-2">
        <%= link_to "Cancel", assignments_path, class: "btn-secondary-delete" %>
        <%= form.submit "Save Assignment", class: "btn-create" %>
      </div>
    </div>
  <% end %>
</section>
